<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamRocket.mapper.home.HomeDao">

    <sql id="userColumn">
        staff_ID,staff_name
    </sql>

    <resultMap id="userMap"
               type="com.teamRocket.domain.User">

        <result property="userId" column="STAFF_ID"/>

        <result property="username" column="STAFF_NAME"/>

    </resultMap>

    <!-- 查询User名 -->
    <select id="findUserName" resultMap="userMap">

        SELECT
        <include refid="userColumn"/>
        FROM
        staff_info

    </select>


    <!-- 根据用户名查询用户 -->
    <select id="selNameAndPassword"
            parameterType="com.teamRocket.domain.User"
            resultMap="userMap">

        SELECT
        <include refid="userColumn"/>
        FROM staff_info
        WHERE
        LOGIN_NAME=#{loginName};

    </select>







</mapper>